body {
	background-color: rgb(150, 150, 150);
}

/*

	Styling for the header

*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li p {
	display: block;
	color: white;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
}

li a, a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

input[name=search] {
	width: 200px;
	height: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;	
	background-position: 10px 10px;
    background-repeat: no-repeat;
}



/*

	Style for the game list

*/
.gameList {
	background-color: blue;
	padding: 25px;
}

.singleGameList {
	display: block;
	color: white;
	background-color: green;
	padding: 16px 18px;
    text-decoration: none;
    border: 2px solid #ccc;
}

.dark-gray {
	background-color: rgb(50,50,50);
}


